<html lang="en">
<head>
  <meta charset="utf-8">

  <title>KodeNames</title>
  <meta name="description" content="Kodenames">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="styles/styles.css?v=1.0">
</head>

<body>
  <div>
    <div id='header'>
      <a href="https://github.com/ninjabunny/KodeNames" target='_blank'>Kodenames</a>
      <span id="redScore"></span>
      <span id="blueScore"></span>
      <input type="text" id="seed" placeholder="seed" size="8" autofocus>
      <button id="reset" onclick="fire()">Reset</button>
      <span id="confirmText">confirm?</span>
      <input type="checkbox" id="confirm">
      <button id="spymaster" onclick="spyMaster()">SpyMaster</button>
    </div>
  </div>
  <div id="board">
    <%= for i <- 0..5 do %>
      <div class="row">
        <%= for j <- 0..5 do %>
          <div class="word">
            <%= get_word(i, j)%>
          </div>
        <% end %>
      </div>
    <% end %>
   </div>
</body>
</html>