/* This file is for your main application css. */

@import "./phoenix.css";

#board {
  position: absolute;
  box-sizing: border-box;
  width: 97%;
  height: 85%;
  border: #ca405f;
  border-style: solid;
  border-radius: 8px;
  overflow: hidden;
}

#board div.row {
  height: 20%;
}

#board div.word {
  text-align: center;
  border-radius: 5px;
  border: 2px #dddddd solid;
}

#board div.word a {
  text-transform: uppercase;
  font-size: large;
  color: black;
  font-weight: bold;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

#board div.word-wrapper {
  width: 20%;
  height: 100%;
  display: inline-block;
}


.red {
  background-color: red;
}

.beige {
  background-color: beige;
}

.gray {
  background-color: gray;
}

.blue {
  background-color: blue;
}