<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Codenames</title>
  <meta name="description" content="Codenames">
  <meta name="author" content="SitePoint">
</head>

<body>
  <div>
    <div id='header'>
      <h1>Codenames<h1>
      <span id="redScore"></span>
      <span id="blueScore"></span>
      <%= form_for @conn, Routes.board_path(@conn, :index), fn f -> %>
        <%= number_input f, :seed, placeholder: "seed", value: @tally.seed %>
        <button id="reset" onclick="fire()">Reset</button>
        <span id="confirmText">confirm?</span>
        <input type="checkbox" id="confirm">
        <button id="spymaster" onclick="spyMaster()">SpyMaster</button>
        <%= submit "Submit" %>
      <% end %>
    </div>
  </div>
  <div id="board">
    <%= for i <- 0..4 do %>
      <div class="row">
        <%= for j <- 0..4 do %>
          <div class="word-wrapper">
            <div class="word <%= get_class(@conn, i, j) %>">
              <a>
                <%= get_word(@conn, i, j)%>
              </a>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
   </div>
</body>
</html>